$color-primary-dark: #7942af;
$color-primary: #766dc1;
$color-primary-light: #9f81cd;

$color-accent: #fecd1a;

$color-text-accent: #263238;
$color-text-primary: #2b2b2b;
$color-text-secondary: #777777;
$color-text-disabled: #b6b6b6;

$color-text-reverse-primary: #ffffff;
$color-text-reverse-secondary: #cccccc;

$color-bg-primary: #e7d5fa;
$color-bg-lightgray: #ebebeb;
$color-bg-transparent: rgba(128, 128, 128, 0.4);

$color-white: #ffffff;

$color-gray: #727272;
$color-lightgray: #aaaaaa;
