@use '../colors.scss';

$md: 18px;
$sm: 14px;
back-button {
  display: block;
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: colors.$color-primary;

    cursor: pointer;

    .icon {
      @extend .primary;
      width: $md;
      height: $md;
      margin: 0px;
      padding: 0px;
      padding-right: 8px;
    }

    p {
      font-size: $md;
      height: fit-content;
    }
  }
}

back-button.sm {
  // .icon {
  //   width: $sm;
  //   height: $sm;
  //   padding-right: 4px;
  // }
  p {
    display: none;
    font-size: $sm;
  }
}
