@use '../colors.scss';

$sm: 14px;
back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: colors.$color-primary;

  cursor: pointer;

  .icon {
    @extend .primary;
    margin: 0px;
    padding: 0px;
    padding-right: 8px;
  }

  p {
    height: fit-content;
  }
}

back-button.sm {
  .icon {
    width: $sm;
    height: $sm;
    padding-right: 4px;
  }
  p {
    font-size: 14px;
  }
}
