@use '../../colors.scss';
@use '../../sizes.scss';

#todo-page {
  > .container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    > .side-bar-container {
      display: none;
      position: fixed;

      width: 100%;
      height: 100%;

      > .empty {
        flex: 1;
      }
    }

    > .side-bar-container.active {
      display: flex;
      flex-direction: row;
    }

    > .todolist-container {
      flex: 1;
    }

    > .nav-bar {
      flex: 0;
    }

    // tablet
    @media (min-width: sizes.$tablet) and (max-width: sizes.$labtop) {
      // width: 400px;
      // margin: 0px auto;
    }

    // desktop
    @media (min-width: sizes.$labtop) {
      // width: 400px;
      // margin: 0px auto;
    }
  }
}
