#main-page {
}
#todolist-container {
  flex: 6;

  height: 100%;
  margin-top: 16px;
  margin-left: 4px;

  border-right: 1px colors.$color-gray solid;

  .title-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 8px;
    border-bottom: 1px colors.$color-gray solid;

    .title {
      margin-left: 12px;
    }

    input {
      border: none;
      color: colors.$color-gray;
      font-size: 20px;
    }

    .action-buttons {
      button {
        color: colors.$color-gray;
      }
      padding-top: 8px;
      margin-right: 16px;
    }
  }

  .todolist {
    margin-top: 24px;
    width: 100%;

    .todo {
      margin-left: 4px;
      margin-right: 4px;
      width: auto;
      padding-top: 4px;

      margin-left: 16px;
      margin-right: 16px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      border-bottom: 1px solid colors.$color-gray;

      .todo-content-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .date {
          font-size: 14px;
          width: 150px;
          text-align: right;
          color: colors.$color-gray;
          padding-top: 4px;
          margin-right: 12px;
        }

        .content {
          width: 100%;
        }
        .content-edit-container {
          width: 100%;
          // display: flex;
          flex-direction: row;
          color: colors.$color-lightgray;
          .icon {
            margin-right: 8px;
          }
          .content-edit {
            margin: 0px;
            padding: 0px;
            color: colors.$color-lightgray;
            font-style: italic;
            text-decoration: underline;
            border: none;
          }
        }
        .unactive {
          display: none;
        }
      }

      .todo-content-container.done {
        text-decoration: line-through;
        color: colors.$color-gray;
      }

      .action-buttons {
        display: flex;
        flex-direction: row;
        // .text-button {
        //   color: colors.$color-gray;
        // }
      }
      .action-buttons.done {
        .text-button {
          color: colors.$color-gray;
        }
      }
    }
  }

  #add-todo-container {
    width: 100%;

    display: flex;
    flex-direction: row;

    margin-top: 16px;

    #date-select {
      border: none;

      padding: 4px;
      margin: 0;
      margin-left: 8px;
      margin-top: auto;
      margin-bottom: auto;

      width: 200px;
      height: fit-content;

      background-color: white;
      color: colors.$color-primary;
    }

    .text-button {
      margin-left: 4px;
      margin-right: 8 px;
      font-size: 20px;
    }
  }
}
