@use '../pages/theme/theme';

#top-banner {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  border-bottom: 1px white solid;

  #title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
  }

  #account-container {
    margin-right: 8px;
  }
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  #content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 8px;

    #nav-container {
      height: 100%;
      flex: 2;
      border-right: 1px theme.$color-gray solid;
      display: flex;
      flex-direction: column;

      > * {
        align-self: flex-end;
      }

      #nav-list {
        padding-right: 16px;
        li {
          color: theme.$color-gray;
          cursor: pointer;
          text-align: right;
        }

        li.selected {
          font-size: 20px;
          color: white;
        }
      }

      #create-group-button {
      }
    }

    #todolist-container {
      flex: 5;

      height: 100%;
      margin-top: 16px;
      margin-left: 4px;

      border-right: 1px theme.$color-gray solid;

      .title {
        margin-left: 12px;
      }

      #todolist {
        margin-top: 16px;
        width: 100%;

        .todo {
          margin-left: 4px;
          margin-right: 4px;
          width: auto;
          padding-top: 4px;

          margin-left: 16px;
          margin-right: 16px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;

          border-bottom: 1px solid theme.$color-gray;

          #todo-content-container {
            display: flex;
            flex-direction: row;
            width: 100%;

            #date {
              font-size: 14px;
              width: 150px;
              text-align: right;
              color: theme.$color-gray;
              padding-top: 4px;
              margin-right: 12px;
            }

            #content {
              width: 100%;
            }
            #content-edit-container {
              width: 100%;
              // display: flex;
              flex-direction: row;
              color: theme.$color-lightgray;
              .icon {
                margin-right: 8px;
              }
              #content-edit {
                margin: 0px;
                padding: 0px;
                color: theme.$color-lightgray;
                font-style: italic;
                text-decoration: underline;
                border: none;
              }
            }
          }

          #todo-content-container.done {
            text-decoration: line-through;
            color: theme.$color-gray;
          }

          #action-buttons {
            display: flex;
            flex-direction: row;
            // .text-button {
            //   color: theme.$color-gray;
            // }
          }
          #action-buttons.done {
            .text-button {
              color: theme.$color-gray;
            }
          }
        }
      }

      #add-todo-container {
        width: 100%;

        display: flex;
        flex-direction: row;

        margin-top: 16px;

        #date-select {
          border: none;

          padding: 4px;
          margin: 0;
          margin-left: 8px;
          margin-top: auto;
          margin-bottom: auto;

          width: 200px;
          height: fit-content;

          background-color: white;
          color: theme.$color-primary;
        }

        .text-button {
          margin-left: 4px;
          margin-right: 8 px;
          font-size: 20px;
        }
      }
    }

    #additional-container {
      flex: 4;
      margin-top: 16px;
      margin-left: 16px;
    }

    #alert-message {
      margin-top: 4px;
      margin-left: auto;
      margin-right: 60px;
      text-align: right;
    }
  }

  #introduce {
    display: none;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    * {
      align-self: center;
    }

    #welcome-text {
      margin-bottom: 16px;
    }
  }
}
