@use '../colors.scss';

#account-container {
  #user-information {
    padding: 4px;
    #name {
      font-size: 20px;
      margin-right: 0px;
      margin-left: auto;
    }
    #email {
      margin-top: 4px;
      font-size: 16px;
      font-style: italic;
      color: colors.$color-lightgray;
    }
  }

  #account-actions {
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color: colors.$color-text;
    width: 150px;
    border-radius: 4px;

    a {
      padding: 6px;
      text-align: center;
      text-decoration: none;
      color: colors.$color-primary;
      font-size: 18px;
      border-bottom: 1px colors.$color-gray solid;
      cursor: pointer;
    }
  }
}

#account-container:hover #account-actions {
  display: flex;
}

.unactive {
  display: none;
}
