nav-item {
  display: block;

  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;

  > .icon {
    @extend .white;
    $size: 12px;
    width: $size;
    height: $size;
  }

  > .title {
    height: fit-content;
    font-size: 16px;
  }

  > .count {
    font-size: 12px;
    position: absolute;
    right: 16px;
    padding-top: 4px;
  }
}

nav-item.active {
  color: colors.$color-primary-dark;
  background-color: colors.$color-bg-primary;

  > .icon {
    @extend .primary-dark;
  }
}
