@use '../colors.scss';
@use "../sizes.scss";
side-bar {
  width: 100%;
  z-index: 1;
  color: colors.$color-text-reverse-primary;
  display: flex;
  flex-direction: row;

  > .container {
    @media (max-width: sizes.$tablet) {
      width: 100%;
    }
    @media (min-width: sizes.$tablet) {
      min-width: 340px;
    }

    background-color: colors.$color-primary-dark;
    color: colors.$color-text-reverse-primary;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);

    back-button {
      margin-top: 8px;
      margin-left: 16px;
      color: white;
      position: absolute;

      .icon {
        @extend .white;
      }
    }

    .account-state {
      margin: 0px 20px;
      border-bottom: 1px solid colors.$color-lightgray;
      padding: 28px 20px 12px 16px;
      cursor: pointer;

      .icon {
        @extend .white;
      }
    }

    .nav-list {
      margin-top: 12px;
      > nav-item {
        padding: 8px 24px;
      }
    }
  }
  > .empty-space {
    flex: 1;
  }
}
