@use '../../colors.scss';

.account-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  > .account-container {
    display: none;
  }
  > .account-container.active {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    .icon {
      grid-row: 1/3;
      $size: 28px;
      width: $size;
      height: $size;
      margin: 8px;
    }

    .name {
      padding: 4px;
      align-self: flex-end;
      font-size: 16px;
    }

    .email {
      padding: 4px;
      align-self: flex-start;
      font-size: 12px;
    }
  }

  > .login-container {
    display: none;
  }
  > .login-container.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h3 {
      font-size: 18px;
    }
    > p {
      color: colors.$color-lightgray;
    }
  }
}
