.nav-bar {
  min-height: 70px;
  flex: 0;
  width: 100%;

  background-color: colors.$color-white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-top: 2px solid colors.$color-lightgray;

  > .nav-item {
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
      padding: 0px;
      margin: 4px;
    }

    label {
      color: colors.$color-text-secondary;
      margin-top: 2px;
      font-size: 12px;
    }
  }
}
