@use '../../colors.scss';

.todolist {
  overflow: scroll;
  box-sizing: content-box;

  > .todo-item {
    margin-left: 72px;
  }
}

.todolist::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
